<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>bruteforceable</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <article>
        <%= yield %>
    </article>
</body>
</html>
